{% block content %}
 	{% include 'header' %}
 	<main class="panel">
 		<a href="#tooltip" class="hint--right" data-hint="Hover Tooltip using css only">Tooltip</a>
 	</main>
 	{% include 'footer' %}
{% endblock %}